<html xmlns:th="http://www.thymeleaf.org" >
	
<body>
	
	<h1>Produktu dati:</h1>
	
	<table border="1px">
		<tr>
			<td>Id</td>
			<td>Nosaukums</td>
			<td>Cena</td>
			<td>Apraksts</td>
			<td>Kategorija</td>
			<td>Daudzums</td>
		</tr>
		<th:block th:each="prod : ${package}">
		<tr>
			<td th:text="${prod.id}" ></td>
			<td th:text="${prod.title}" ></td>
			<td th:text="${prod.price}" ></td>
			<td th:text="${prod.description}" ></td>
			<td th:text="${prod.category}" ></td>
			<td th:text="${prod.quantity}" ></td>
		</tr>
		</th:block>
	</table>
	

	
</body>



</html>