<html xmlns:th="http://www.thymeleaf.org" >
	
<body>
	
	<h1>Produkta dati:</h1>
	
	<table border="1px">
		<tr>
			<td>Id</td>
			<td>Nosaukums</td>
			<td>Cena</td>
			<td>Apraksts</td>
			<td>Kategorija</td>
			<td>Daudzums</td>
		</tr>
		
		<tr>
			<td th:text="${package.id}" ></td>
			<td th:text="${package.title}" ></td>
			<td th:text="${package.price}" ></td>
			<td th:text="${package.description}" ></td>
			<td th:text="${package.category}" ></td>
			<td th:text="${package.quantity}" ></td>
		</tr>
		
	</table>
	

	
</body>



</html>